/* CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL  */

body {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    margin: 2% auto;
    max-width: 1200px;
}

.shadow_border {
    border: 1px solid black;
    box-shadow: 3px 2px 0.5px rgba(0, 0, 0, 0.2);
    /* X-offset, Y-offset, flou, couleur */
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-align:justify;
}


/* HEADER */

#header_header {
    background-color: white;
    margin-bottom: 20px;
}

#container_header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 20px;
}

.logo h1 {
    font-size: 30px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

.logo .subtitle {
    color: black;
    letter-spacing: 1px;
}

.nav_header {
    margin: 20px;
}

.ul_header {
    list-style: none;
    display: flex;
}

.ul_header a {
    text-decoration: none;
    /* Pas de soulignement */
    color: black;
    /* Couleur des liens */
}

.ul_header a:visited {
    color: black;
    /* Assure que les liens visités sont aussi noirs */
}


.li_header {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.li_header a:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
    /* Pas de soulignement au survol */
}


/* PICTURE OCEAN 1 */

#ocean_picture {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    /* Centre l'image dans la div */
    height: 200px;
    /* Définir la hauteur de la div, ajustez selon vos besoins */
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    /* Curseur personnalisé */
    border-radius: 5px;
}


/* HIDDEN HEADER */

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s;
}

.hidden {
    display: none;
}

#container_fixed_header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SECTION PRESENTATION / PHOTO PROFIL */

#presentation_chloe {
    padding:40px;
    display: flex;
    justify-content: space-evenly;
    /*horizontalement */
    align-items: center;
    /*verticalement */
}

#pic_chloe_titre_aventure {
    display: flex;
    flex-direction:column;
    width: 40%;
}

#photo_container{
        display: flex;
        justify-content: right;
        width: 100%;
}

.photo_ronde {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}

#aventure_texte {
    width: 40%;
    background-color: #E3ECF1;
    border-radius: 5%;
    padding:20px;
}

#h1_aventure {
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 50px;
    text-align: left;
}

#aventure_texte a{
    text-decoration: none;
    /* Pas de soulignement */
    color:#054f84
    /* Couleur des liens */
}

#aventure_texte a:visited {  
    text-decoration: none;
    /* Pas de soulignement */
    color:#054f84
    /* Assure que les liens visités sont aussi noirs */
}

#aventure_texte a:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
}


/* SECTION */

#ocean_picture_section {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    height: 50px;
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    border-radius: 5px;
}


/* TIMELINE */

.slider-container {
    margin-top:30px;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

input[type="range"] {
    width: 500px;
    display: block;
    margin: 0 auto;
    -webkit-appearance: none; 
    height: 5px; /* Épaisseur de la barre */
    background: black; /* Couleur de la barre */
    border-radius: 5px; /* Rendre la barre légèrement arrondie */
    outline: none;
}

/* Style pour la barre sur WebKit (Chrome, Safari, etc.)
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: black;
    border-radius: 5px;
} */

/* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #666; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;  
}*/

/* input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #666;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
} */

.slider-ticks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 25px;
}

.slider-ticks span {
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    width: 120px;
    color: black;
    cursor:pointer;
}

.slider-ticks span:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.slider-ticks span.active {
    color: black; /* Couleur du texte */
    background-color: #E3ECF1;
    border-radius: 5px; /* Optionnel : adoucit les coins du contour */
}


/* 5 IMAGES + TEXTE */

.article {
    display: none;
}

.article.active{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 40px auto 20px auto;
    width: 90%;
}

.picture_title{
    width: 45%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.article img {
    margin-top: 30px;
    width: 400px;
    height: 260px;
    border-radius: 5px;
}

.article h2 {
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 2px;
    text-align: left;
}

.p_article{
    margin-top: 30px;
    width: 40%;
}

.p_article p{
    text-align:justify;
    padding:30px;
    /* border: 1px solid black; */
    background-color: #E3ECF1;
    border-radius: 5px;
}

.p_article p span{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing:1px;
    display:flex;
    align-items:center;
    gap:10px;
}

.img_icon{
    width: 40px !important;
    height: 40px !important; /* Forcer une taille fixe pour la hauteur */
    object-fit: contain;
    margin-top:0px !important;
}


#AFPA{
    text-align:left;
}


/* PROJETS & COMPETENCES */

#skills_projects{
    display:flex;
    justify-content:center
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    width:80%;
    gap: 30px;
}

/* .project:hover{
    background-color: #36576a;
    color:white;
} */

.project{
    padding:30px;
    width: 47%;
    height: auto;
    background-color: #E3ECF1;
    border-radius: 5px;
}

.project_image{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.project h2{
    letter-spacing: 2px;
}

.project p{
    text-align:left;
}


.project p a{
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 4px 10px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    letter-spacing:1px;
}

#second_button{
    margin-left:4px;
}

/* CONTACTS */

.contact{
    display:flex;
    justify-content:center
}

#contacts_4_cards{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:20px 0px;
    width:80%;
    gap:20px;
}

.contact_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    min-width:180px;
    height: 160px;
    border: none;
    border-radius: 5%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    text-decoration: none;
    color:black;
}

.contact_card:hover{
    background-color: #E3ECF1;
    cursor: pointer;
}

.card_circle {
    width: 60px;
    height: 60px;
    background-color: #083967;
    border-radius: 50%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_circle_icon {
    color: white;
    font-size: 25px;
}

.card_heading {
    letter-spacing: 1px;
    font-size: 16px;
}

.info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 13px;
}

.card_link {
    text-decoration: none;
    color:black;
}

/* FOOTER */

#ocean_picture_footer {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    border-radius: 5px;
}

/* UP */

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 0.5%;
    z-index: 100;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollTopBtn:hover {
    background-color: rgb(192, 192, 192);
}


@media (max-width: 1300px) {
    
    body {
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        margin: 2% 5%;
    }

    /* CONTACT */
    .card_heading {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14px;
    }
    
    .info {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 12px;
    }
} 
