/* CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL  */

body {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    margin: 2% auto;
    max-width: 1200px;
}

.shadow_border {
    border: 1px solid black;
    box-shadow: 3px 2px 0.5px rgba(0, 0, 0, 0.2);
    /* X-offset, Y-offset, flou, couleur */
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-align: justify;
}


/* HEADER */

#header_header {
    background-color: white;
    margin-bottom: 20px;
}

#container_header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 20px;
}

.logo h1 {
    font-size: 30px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

.logo .subtitle {
    color: black;
    letter-spacing: 1px;
}

.nav_header {
    margin: 20px;
}

.ul_header {
    list-style: none;
    display: flex;
}

.ul_header a {
    text-decoration: none;
    /* Pas de soulignement */
    color: black;
    /* Couleur des liens */
}

.ul_header a:visited {
    color: black;
    /* Assure que les liens visités sont aussi noirs */
}


.li_header {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.li_header a:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
    /* Pas de soulignement au survol */
}

/* Menu burger */
.burger-icon {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

/* PICTURE OCEAN 1 */

#ocean_picture {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    /* Centre l'image dans la div */
    height: 200px;
    /* Définir la hauteur de la div, ajustez selon vos besoins */
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    /* Curseur personnalisé */
    border-radius: 5px;
}


/* HIDDEN HEADER */

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s;
}

.hidden {
    display: none;
}

#container_fixed_header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SECTION PRESENTATION / PHOTO PROFIL */

#presentation_chloe {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    /*horizontalement */
    align-items: center;
    /*verticalement */
}

#pic_chloe_titre_aventure {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#photo_container {
    display: flex;
    justify-content: right;
    width: 100%;
}

.photo_ronde {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}

#aventure_texte {
    width: 40%;
    background-color: #E3ECF1;
    border-radius: 5%;
    padding: 20px;
}

#h1_aventure {
    font-size: 60px;
    letter-spacing: 4px;
    line-height: 50px;
    text-align: left;
}

#aventure_texte a {
    text-decoration: none;
    /* Pas de soulignement */
    color: #054f84
        /* Couleur des liens */
}

#aventure_texte a:visited {
    text-decoration: none;
    /* Pas de soulignement */
    color: #054f84
        /* Assure que les liens visités sont aussi noirs */
}

#aventure_texte a:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
}


/* SECTION */

#ocean_picture_section {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    height: 50px;
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    border-radius: 5px;
}


/* TIMELINE */

.slider-container {
    margin-top: 30px;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

input[type="range"] {
    width: 500px;
    display: block;
    margin: 0 auto;
    -webkit-appearance: none;
    height: 5px;
    /* Épaisseur de la barre */
    background: black;
    /* Couleur de la barre */
    border-radius: 5px;
    /* Rendre la barre légèrement arrondie */
    outline: none;
}

/* Style pour la barre sur WebKit (Chrome, Safari, etc.)
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: black;
    border-radius: 5px;
} */

/* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #666; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;  
}*/

/* input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #666;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
} */

.slider-ticks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 25px;
}

.slider-ticks span {
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    width: 120px;
    color: black;
    cursor: pointer;
}

.slider-ticks span:hover {
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.slider-ticks span.active {
    color: black;
    /* Couleur du texte */
    background-color: #E3ECF1;
    border-radius: 5px;
    /* Optionnel : adoucit les coins du contour */
}


/* 5 IMAGES + TEXTE */

.article {
    display: none;
}

.article.active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin: 40px auto 20px auto;
    width: 90%;
}

.picture_title {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article img {
    margin-top: 30px;
    width: 400px;
    height: 260px;
    border-radius: 5px;
}

.article h2 {
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 2px;
    text-align: left;
}

.p_article {
    margin-top: 30px;
    width: 40%;
}

.p_article p {
    text-align: justify;
    padding: 30px;
    background-color: #E3ECF1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.p_article p span {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.img_icon {
    width: 40px !important;
    height: 40px !important;
    /* Forcer une taille fixe pour la hauteur */
    object-fit: contain;
    margin-top: 0px !important;
}


#AFPA {
    text-align: left;
}


/* PROJETS & COMPETENCES */

#skills_projects {
    display: flex;
    justify-content: center
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    width: 80%;
    gap: 30px;
}

/* .project:hover{
    background-color: #36576a;
    color:white;
} */

.project {
    padding: 30px;
    width: 47%;
    height: auto;
    background-color: #E3ECF1;
    border-radius: 5px;
}

.project_image {
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.project h2 {
    letter-spacing: 2px;
}

.project p {
    text-align: left;
}


.project p a {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 4px 10px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

#second_button {
    margin-left: 4px;
}

/* CONTACTS */

.contact {
    display: flex;
    justify-content: center
}

#contacts_4_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px;
    width: 80%;
    gap: 20px;
}

.contact_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    min-width: 180px;
    height: 160px;
    border: none;
    border-radius: 5%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}

.contact_card:hover {
    background-color: #E3ECF1;
    cursor: pointer;
}

.card_circle {
    width: 60px;
    height: 60px;
    background-color: #083967;
    border-radius: 50%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_circle_icon {
    color: white;
    font-size: 25px;
}

.card_heading {
    letter-spacing: 1px;
    font-size: 16px;
}

.info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 13px;
}

.card_link {
    text-decoration: none;
    color: black;
}

/* FOOTER */

#ocean_picture_footer {
    background-image: url('pictures/ocean.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    cursor: url('pictures/curseur_coquillage2.2.png'), auto;
    border-radius: 5px;
}

/* UP */

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 0.5%;
    z-index: 100;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollTopBtn:hover {
    background-color: rgb(192, 192, 192);
}


@media (max-width: 1300px) {
    /*/////////////////////////////////////////////////*/

    body {
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        margin: 2% 5%;
    }

    /* CONTACT */
    .card_heading {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .info {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 12px;
    }
}

/* TABLET */

@media (max-width: 1080px) {

    /*//////////////////////////////////////////////////////////////////*/
    #pic_chloe_titre_aventure {
        gap: 10px;
    }

    .img_icon {
        width: 30px !important;
        height: 30px !important;
        /* Forcer une taille fixe pour la hauteur */
    }

    #contacts_4_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: space-around;
        padding: 20px 0px;
        width: 80%;
        gap: 20px;
    }

    .article img {
        width: 350px;
        height: 230px;
    }
}

@media (max-width: 950px) {
    /*//////////////////////////////////////////////////////////////////*/

    .shadow_border {
        margin-bottom: 15px;
    }

    #header_header {
        margin-bottom: 15px;
    }

    /* SECTION PRESENTATION / PHOTO PROFIL */

    #presentation_chloe {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #pic_chloe_titre_aventure {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 40%;
        gap: 15px;
    }

    #photo_container {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .photo_ronde {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        object-fit: cover;
    }

    #aventure_texte {
        width: 70%;
        padding: 40px;
    }

    #h1_aventure {
        font-size: 60px;
        letter-spacing: 4px;
        line-height: 50px;
        text-align: left;
        margin-top: 20px;
    }
/**************************************************************************************************/

.slider-container {
    display: none;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer horizontalement les éléments */
    margin: 30px auto;
    padding: 20px;
    background-color: #E3ECF1;
    border-radius: 20px;
    width: 90%;
}

#article3 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: 20px auto;
    padding: 20px;
    background-color: #E3ECF1;
    border-radius: 20px;
    width: 90%;
}

.picture_title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.picture_title img {
    width: 90%; 
    height: auto;
    margin-bottom: 0px;
    border-radius: 5px;
}

.p_article {
    text-align: center;
    color: black;
    padding: 0px;
    width:100%;
    background-color: transparent; 
    margin: 0px;
}

.p_article p {
    font-size: 14px;
    line-height: 1.3;
    margin:0px auto 20px auto;
    width:90%;
    background-color: white;
    border-radius: 5px;
}

.img_icon {
    width: 40px !important;
    height: 40px !important;
    /* Forcer une taille fixe pour la hauteur */
    object-fit: contain;
    margin-top: 0px !important;
}

.p_article p span {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.article * {
    max-width: 100%;
}

#article1{
    display:none !important;
}

#article2{
    display:none !important;
}

/*********************************************************************************************************/

    /* HEADER */
    /*Burger*/

    /* Cacher le menu par défaut */
    .ul_header {
        display: none;
        opacity: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: opacity 0.3s ease;
    }

    /* Montrer le menu lorsqu'il est ouvert */
    .show-menu .ul_header {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: white;
        width: 200px;
        padding: 20px 10px;
        gap: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    /* Icône burger affichée */
    .burger-icon {
        display: block;
        cursor: pointer;
        margin-right: 30px;
        font-size: 24px;
    }

    /* Centrage ou ajustement de l'alignement */
    #container_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        /* Assurez-vous qu'il y a suffisamment de padding pour l'ensemble du contenu */
    }

    .logo {
        margin-left: 20px;
    }

    /* Style de base pour les liens du menu */
    .ul_header a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;
    }

    /* Effet de survol pour les liens du menu */
    .ul_header a:hover {
        background-color: rgba(192, 192, 192, 0.3);
        /* Fond en surbrillance */
        color: rgb(50, 50, 50);
        /* Changement de couleur du texte */
    }

    /* Surbrillance lors du hover sur les éléments du menu */
    .show-menu .li_header:hover {
        background-color: #e3ecf1;
        /* Fond bleu clair */
        color: black;
        transition: background-color 0.3s ease;
    }

    /* Ajustement des marges pour les éléments du menu */
    .li_header {
        margin: 0;
    }

}

@media (max-width: 781px) {
    /*//////////////////////////////////////////////////////////////////*/

    .shadow_border {
        margin-bottom: 12px;
    }

    #header_header {
        margin-bottom: 12px;
    }

    #ocean_picture {
        height: 150px
    }

    /* SECTION PRESENTATION / PHOTO PROFIL */

    #presentation_chloe {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #pic_chloe_titre_aventure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        gap: 0px;
    }

    #photo_container {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .photo_ronde {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
    }

    #aventure_texte {
        width: 80%;
        padding: 20px 30px;
    }

    #h1_aventure {
        font-size: 50px;
        letter-spacing: 4px;
        line-height: 50px;
        text-align: left;
        margin-top: 10px;
    }

    /* PROJECTS */

    .project {
        padding: 30px;
        width: 100%;
        height: auto;
        background-color: #E3ECF1;
        border-radius: 5px;
    }

}

@media (max-width: 560px) {/*////////////////////////////////////////////////////*/
    /* SECTION PRESENTATION / PHOTO PROFIL */

    #presentation_chloe {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #pic_chloe_titre_aventure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 0px;
    }

    #photo_container {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .photo_ronde {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    #aventure_texte {
        width: 90%;
        padding: 20px 30px;
    }

    #h1_aventure {
        font-size: 40px;
        letter-spacing: 3px;
        line-height: 40px;
        text-align: left;
        margin-top: 10px;
    }

    /* CONTACTS */

    .contact {
        display: flex;
        justify-content: center;
    }

    #contacts_4_cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 20px 0px;
        width: 100%;
        gap: 10px;
    }

    .contact_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25%;
        min-width: 180px;
        height: 140px;
        border: none;
        border-radius: 5%;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
        text-decoration: none;
        color: black;
    }

    .contact_card:hover {
        background-color: #E3ECF1;
        cursor: pointer;
    }

    .card_circle {
        width: 50px;
        height: 50px;
        background-color: #083967;
        border-radius: 50%;
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_circle_icon {
        color: white;
        font-size: 25px;
    }

    .card_heading {
        letter-spacing: 1px;
        font-size: 16px;
    }

    .info {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 11px;
    }

    .card_link {
        text-decoration: none;
        color: black;
    }
    
    /*ARTICLE 3 CDA-AFPA ICONES*/

    .img_icon {
        width: 28px !important;
        height: 30px !important;
    }
    
    .p_article p span {
        font-size: 14px;
        gap: 5 px;
    }

        /* CONTACTS */
    
        #contacts_4_cards {
            width: 90%;
            gap: 10px;
        }
    
        .contact_card {
            min-width: 160px;
        }
}


/* SMARPHONE */

@media (max-width: 425px) {
    /*//////////////////////////////////////////////////////////////////*/

    .shadow_border {
        margin-bottom: 10px;
    }

    #header_header {
        margin-bottom: 10px;
    }

    #ocean_picture {
        height: 100px
    }

    p {
        font-size: 12px;
        line-height: 15px;
    }

    /*PROJECTS*/
    .projects {
        width: 100%;
        padding: 20px;
    }

    a {
        font-size: 16px;
    }

    /* SECTION PRESENTATION / PHOTO PROFIL */

    #presentation_chloe {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #pic_chloe_titre_aventure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 0px;
    }

    #photo_container {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .photo_ronde {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
    }

    #aventure_texte {
        width: 100%;
        padding: 20px 30px;
    }

    #h1_aventure {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 30px;
        text-align: left;
        margin-top: 10px;
    }

    #aventure_texte a {
        font-size:12px;
    }

    /*ARTICLE 3 - AFPA CDA COMPETENCES ICONES */

    .article{
        margin:20px auto;
    }
    
    .img_icon {
        width: 28px !important;
        height: 30px !important;
        /* Forcer une taille fixe pour la hauteur */
        object-fit: contain;
        margin-top: 0px !important;
    }
    
    .p_article p span {
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        gap: 5px;
        text-align: left;
    }

    .p_article p{
        width:95%;
        font-size:12px;
    }

    .picture_title img{
        width:95%;
    }
}

@media (max-width: 409px){
    /*///////////////////////////////////////////////////////////////////*/
        /* CONTACTS */
    
        #contacts_4_cards {
            padding: 20px 0px;
            width: 100%;
            gap: 10px;
        }
    
        .contact_card {
            width:80%;
            height: 140px;
            margin: 10px auto;
            padding-left: 40px;
        }
    
}

@media (max-width: 375px) {
    /*//////////////////////////////////////////////////////////////////*/

    .shadow_border {
        margin-bottom: 7px;
    }

    #header_header {
        margin-bottom: 7px;
    }

    #ocean_picture {
        height: 80px
    }


}